@model List<RestauranteModel>;

@{
    ViewData["Title"] = "Restaurantes";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RobinFood</title>
    <link rel="stylesheet" href="~/css/Rest.css">
    <link rel="shortcut icon" href="~/images/logo_null_heORlH.png" />
</head>

<body>
    <header>
        <div class="container">
            <div class="child">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/robin-food.webp" alt="Logo do site"></a>
                <a asp-controller="Restaurantes" asp-action="Index">Restaurantes</a>
                <a asp-controller="Restaurantes" asp-action="Criar">Adicionar Restaurantes</a>
                <a asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                <a asp-controller="Login" asp-action="Sair" class="conta">Sair</a>

            </div>
        </div>

    </header>


    <main>

        <div class="form">
            <div class="search">
                <img src="~/images/search.svg" alt="">
                <input type="text" placeholder="Busque por item ou loja">
            </div>

            <button>Buscar</button>
        </div>

        <div class="banner">
            <img src="~/images/banner1.png" alt="">
            <img src="~/images/banner_sobremesa.png" alt="">
            <img src="~/images/banner_semedicao.png" alt="">
        </div>
        <div class="text">

            <div class="wrapper">
                <div class="lojas">
                    <h1>Lojas</h1>
                    <div class="slider">
                        <ul class="allcard">

                            @foreach (RestauranteModel restaurante in Model)
                            {
                                <div class="card">
                                    <a asp-controller="Restaurantes" asp-action="GetProdutos" asp-route-id="idRestaurante-@restaurante.IdRestaurante"><img class="product" src="~/images_restaurantes/@restaurante.CaminhoImagem" alt=""></a>
                                    <!---->
                                    <h4><a asp-controller="Restaurantes" asp-action="GetProdutos" asp-route-id="idRestaurante-@restaurante.IdRestaurante">@restaurante.Nome</a></h4>
                                    <!---->
                                    <div class="description">
                                        <h6>@restaurante.Categoria</h6>
                                    </div>
                                    <div class="rating">
                                        &#9733;
                                        &#9733;
                                        &#9733;
                                        &#9733;
                                        &#9734;
                                    </div>
                                </div>
                            }

                    </div>
                </div>
            </div>
        </div>
        </div>



    </main>

    <footer>
        <img src="~/images/logofooter.svg" alt="">
        <span>©2022 Robin Food - Mais Agência Web Ltda<br />CNPJ 16.697.810/0001-89 / Rua Carlos Chagas, nº 8, São Mateus, Juiz de Fora/MG</span>
    </footer>

</body>
</html>